@import url('https://fonts.googleapis.com/css2? family= Dosis:wght@200 & family= M+PLUS+1+Code & family= Nunito+Sans:wght@200 & display= intercambio');
*{
    margin: 0;
}
html{
    background-image: url(https://yt3.ggpht.com/ytc/AKedOLQaVOldt-NnIWUAJr9D1q-UuUXgHucyt9hgzx6xzA=s900-c-k-c0x00ffffff-no-rj);
    background-size: 20%;
    background-attachment: fixed;
}
/* inicio */
.principal{
    background-color: rgb(205, 206, 206);
    width: 10%;
    margin: 2% 0 0 2%;
    border-radius: 8px;
    border: 1px solid black;
    text-align: center;
}
.principal a{
    padding-left: 32px;
    padding-top: 1.5px;
    padding-bottom: 1,5px;
    letter-spacing: 2px;
    text-decoration: none;
    font-family: 'Dosis', sans-serif;
    color: black;
}
/* contenido */
.formulario{
    backdrop-filter:brightness(50%);
    border-radius: 8px;
    width: 400px;
    height: 500px;
    margin: 5% 0 5% 35%;
    text-align: center;
    font-family: 'Dosis', sans-serif;
}
.formulario h1{
    font-size: 2em;
    padding: 20px 0 20px 0;
    color: azure;
    -webkit-text-stroke: 1.75px black;
    font-weight: 700;
}
.formulario p{
    padding: 10px 10px 10px 10px;
    color: azure;
    text-transform:uppercase;
    font-size: 1em;
}
.formulario hr{
    margin: 30px 45px 30px 45px;
    border: 1.5px solid white;
}
.formulario h3{
    font-size: 1.5em;
    color: azure;
    -webkit-text-stroke: 1.75px black;
    font-weight: 700;
}