@import url('https://fonts.googleapis.com/css2? family= Dosis:wght@200 & family= M+PLUS+1+Code & family= Nunito+Sans:wght@200 & display= intercambio');
*{
    margin: 0;
}
html{
    background-image: url(https://thumbs.dreamstime.com/b/pancarta-horizontal-de-selfie-day-con-caricatura-monstruo-gracioso-tom%C3%A1ndose-un-aislado-fondo-azul-del-d%C3%ADa-selfi-timbre-afiche-221632809.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: cover;
    background-attachment: fixed;
}
/* inicio */
.principal{
    background-color: rgb(205, 206, 206);
    width: 10%;
    margin: 2% 0 0 2%;
    border-radius: 8px;
    border: 1px solid black;
    text-align: center;
}
.principal a{
    padding-left: 32px;
    padding-top: 1.5px;
    padding-bottom: 1,5px;
    letter-spacing: 2px;
    text-decoration: none;
    font-family: 'Dosis', sans-serif;
    color: black;
}
/* contenido */
.foto{
    background-color: rgb(53, 217, 217);
    width: 650px;
    height: 170px;
    border-radius: 56px;
    margin: 17% 0 0 49%;
    text-align: center;
    font-family: 'Dosis', sans-serif;
}
.foto h1{
padding: 10px 0 10px 0;
}
.foto p{
    padding: 0 15px 0 15px;
}
.foto input{
    padding: 20px 0 0 0;
}