*{margin: 0}
body{
background-image: url(https://image.jimcdn.com/app/cms/image/transf/none/path/sddbd9f1e83bf1d98/backgroundarea/i0140448c916764a9/version/1525903094/image.jpg);}
.menu{
    background:linear-gradient( #FFF4E4 50%,#CFBFA8);
    text-align: center;
    height: 100%;
}
.menu li{
    display: inline-block;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.menu a{
    padding: 40px;
    text-decoration: none;
    display: block;
    font-size: 18px;
    color: #9C3C3C;
}
.menu a:hover{
    background:linear-gradient(#CFBFA8 30%, #FFF4E4);
    font-size: 21px;
}
.titulo{
    text-align: center;
    margin: 25px 0 0px 0;
    text-decoration:overline underline solid black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:#B13B3B ;
}
.texto1 h2{
    text-align: left;
    padding: 15px;
    color:#B13B3B;
    font-size: 2.5em;
}
.texto1 p{
    text-align: justify;
    padding: 10px 15px 0 15px;
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.imagen{
    width: 540px;
    height: 399px;
    margin: 50px auto ;
    background-color: #B13B3B;
    box-shadow: black 0px 0px 50px 0px;
}
.imagen img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.tablas{
    text-align: center;
    text-decoration: underline solid black;
    margin: 0 0 20px 0;
    color:#B13B3B;
    font-size: 30px;
}
table{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
thead{
    background-color: #D58585;
    font-weight:800;
}
.tabla1{
    width: 40%;
    border-spacing: 0;
    float: left;
    padding: 10px 0 50px 50px;
}
.tabla1 td,tr{
    width: 25%;
    text-align: center;
    border: 1px solid black;
    padding: 4px;
}
.tabla2{
    width: 40%;
    float: right;
    border-spacing: 0;
    padding: 10px 50px 48px 0;
}
.tabla2 td,tr{
    width: 25%;
    text-align: center;
    border: 1px solid black;
    padding: 4px;
}
.tabla3{
    width: 40%;
    border-spacing: 0;
    float: left;
    padding: 10px 0 50px 50px;
}
.tabla3 td,tr{
    width: 25%;
    text-align: center;
    border: 1px solid black;
    padding: 4px;
}
.tabla4{
    width: 40%;
    float: right;
    border-spacing: 0;
    padding: 0px 50px 50px 0;
}
.tabla4 td,tr{
    width: 25%;
    text-align: center;
    border: 1px solid black;
    padding: 4px;
}
.tabla5{
    width: 100%;
    border-spacing: 0;
    padding: 10px 300px 0 300px ;
}
.tabla5 td,tr{
    width: 25%;
    text-align: center;
    border: 1px solid black;
    padding: 4px;
}
footer{
    background:linear-gradient(#CFBFA8  ,#FFF4E4 50%);
    position: absolute;
    width: 100%;
}
.marca{
    font-size: 35px;
    text-align: center;
}
.enlaces{
    text-align: center;
    margin: 0 35px;
}
.redes{
    height: 50%;
    float: left;
}
.redes img{
    display: block;
    float: left;
    margin: 0 8px 0 0;
}
.contratos p{
    float: right;
    height: 50%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
}
hr{
    width: 780px;
    text-align: center;
    margin:20px 20%;
    border: 2px solid black;
}
.derechos{
    text-align: center;
    margin: 20px 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
    color: white;
    background-color:#9C9C9C;
}