@import url('https://fonts.googleapis.com/css2? family= Poppins:wght@100 & display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family:'Poppins', sans-serif;
    font-size: 62.5%;
    background-image: url(https://www.xtrafondos.com/descargar.php?id=7888&resolucion=1920x1080);
    background-repeat: no-repeat;
    background-size:cover;
}
h1{
    text-align: left;
    font-size: 6.5em;
    padding: 3% 0 0 0;
}
.contenedor{
    display: flex;
    /* pone al medio y al centro de tu figura */
    align-items: center;
    justify-items: center;
    height: 80vh;
    padding: 15px;
}

.head{
    display: flow-root;
}

article.imginicio{
    width: 10%;
    float: left;
}

article a img{
    width: 100%;
}

article.titulop{
    width: 76%;
    float: right;
}

.calculadora{
    display: flex;
    flex-direction: column ;
    width: 65%;
    height: 85%;
    font-size: 3.5rem;
    border: 1px solid black;
    margin: auto 25%;
}

.resultado{
    padding: 25px 15px;
    width: 100%;
    text-align: right;
    border: 1px solid black;
    /* define que se debe mostrar cuando el contenido se deborda de los extremos superior e inferior de un elemento de bloque */

}

.keypad{
    display: flex;
    width: 100%;
    height: 100%;
}

.numeros{
    display: flex;
    width: 100%;
    /* especifica si los elementos son obligados a permanecer en una misma linea o pueden fluir en varias lineas */
    flex-wrap: wrap;
}

.boton{
    width: 25%;
    padding: 15px 0;
    text-align: center;
    cursor: pointer;
    background-color:rgb(123, 123, 123);
    border: 1px solid black;
}

.boton:hover{
    filter: brightness(80%);
    transition: filter .25s;
}

.largo{
    width: 50%;
}
.c3{
    background-color:rgb(6, 216, 174);
}
.c4{
    background-color:rgb(6, 216, 174);
}