@import url('https://fonts.googleapis.com/css2? familia= Dosis:peso@200 &family= Nunito+Sans:wght@200 & display=swap');
*{
    margin: 0;
}

html{
    background-image: url(https://cloudfront-us-east-1.images.arcpublishing.com/bloomberglinea/3SR4NEIWOJGTZDSEPU2LOV2Z3Y.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}


h1{
    text-align: left;
    font-size: 5em;
    padding: 3% 0 0 0;
    font-family: 'Dosis', sans-serif;
}

.head{
    display: flow-root;
}

article.imginicio{
    width: 20%;
    float: left;
}

article a img{
    width: 100%;
}

article.titulop{
    width: 76%;
    float: right;
}

.juego{
    display: flow-root;
}

.juego aside{
    float: right;
    width: 40%;
    align-items: center;
    text-align: center;
}

aside img{
    width: 70%;
}

.juego div{
    float: left;
    width: 30%;
    font-size: 1.5em;
    font-family:'Dosis', sans-serif ;
    align-items: center;
    text-align: center;
    border: 2px solid black;
    border-radius: 20px;
    backdrop-filter: blur(2px);
}

div{
    padding: 70px 9%;
}

div p{
    padding: 0 0 30px 0;
    color: aliceblue;
}

div button{
    font-size: 20px;
}